<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <form action="/gallery/<%=gallery._id%>?_method=PUT" method="POST">
        <input type="text" name="galleryName" value="<%=gallery.galleryName%>">
        <input type="text" name="coverImage" value="<%=gallery.coverImage%>">
        <input type="text" name="galleryDescription" value="<%=gallery.galleryDescription%>">
        <input type="submit" value="Submit Edit">
    </form>

</body>
</html>